Repository SAP/xsk, pull requests merged in 2021-07, with the labels that each got.

#222 Hdbschema parser
  modules/engines/engine-hdb/pom.xml
  modules/engines/engine-hdb/src/itest/java/com/sap/xsk/hdb/ds/itest/hdbschema/XSKHDBSchemaParserHanaITTest.java
  modules/engines/engine-hdb/src/itest/resources/hdbschema-itest/SampleHANAXSClassicSchema.hdbschema
  modules/engines/engine-hdb/src/main/java/com/sap/xsk/hdb/ds/facade/XSKHDBCoreFacade.java
  modules/engines/engine-hdb/src/main/java/com/sap/xsk/hdb/ds/model/XSKDataStructureModelFactory.java
  modules/engines/engine-hdb/src/main/java/com/sap/xsk/hdb/ds/model/hdbschema/XSKDataStructureHDBSchemaModel.java
  modules/engines/engine-hdb/src/main/java/com/sap/xsk/hdb/ds/module/XSKHDBModule.java
  modules/engines/engine-hdb/src/main/java/com/sap/xsk/hdb/ds/parser/hdbschema/XSKHDBSchemaParser.java
  modules/engines/engine-hdb/src/main/java/com/sap/xsk/hdb/ds/parser/hdbschema/XSKSchemaParser.java
  modules/engines/engine-hdb/src/main/java/com/sap/xsk/hdb/ds/processors/hdbschema/HDBSchemaCreateProcessor.java
  modules/engines/engine-hdb/src/main/java/com/sap/xsk/hdb/ds/processors/hdbschema/HDBSchemaDropProcessor.java
  modules/engines/engine-hdb/src/main/resources/META-INF/services/com.sap.xsk.hdb.ds.parser.XSCDataStructureParser
  modules/engines/engine-hdb/src/test/java/com/sap/xsk/hdb/ds/test/parser/XSKSchemaParserTest.java
  modules/engines/engine-hdb/src/test/java/com/sap/xsk/hdb/ds/test/processors/XSKSchemaProcessorTest.java
  modules/engines/engine-hdb/src/test/resources/Myschema.hdbschema
  modules/parsers/parser-all/pom.xml
  modules/parsers/parser-hdbschema/README.md
  modules/parsers/parser-hdbschema/com.sap.xsk.parser.hdbschema/pom.xml
  modules/parsers/parser-hdbschema/com.sap.xsk.parser.hdbschema/src/main/antlr4/com/sap/xsk/parser/hdbschema/core/Hdbschema.g4
  modules/parsers/parser-hdbschema/com.sap.xsk.parser.hdbschema/src/main/java/Hdbschema.tokens
  modules/parsers/parser-hdbschema/com.sap.xsk.parser.hdbschema/src/main/java/HdbschemaLexer.tokens
  modules/parsers/parser-hdbschema/com.sap.xsk.parser.hdbschema/src/main/java/com/sap/xsk/parser/hdbschema/core/HdbschemaBaseListener.java
  modules/parsers/parser-hdbschema/com.sap.xsk.parser.hdbschema/src/main/java/com/sap/xsk/parser/hdbschema/core/HdbschemaBaseVisitor.java
  modules/parsers/parser-hdbschema/com.sap.xsk.parser.hdbschema/src/main/java/com/sap/xsk/parser/hdbschema/core/HdbschemaLexer.java
  modules/parsers/parser-hdbschema/com.sap.xsk.parser.hdbschema/src/main/java/com/sap/xsk/parser/hdbschema/core/HdbschemaListener.java
  modules/parsers/parser-hdbschema/com.sap.xsk.parser.hdbschema/src/main/java/com/sap/xsk/parser/hdbschema/core/HdbschemaParser.java
  modules/parsers/parser-hdbschema/com.sap.xsk.parser.hdbschema/src/main/java/com/sap/xsk/parser/hdbschema/core/HdbschemaVisitor.java
  modules/parsers/parser-hdbschema/com.sap.xsk.parser.hdbschema/src/main/java/com/sap/xsk/parser/hdbschema/custom/XSKHDBSCHEMACoreListener.java
  modules/parsers/parser-hdbschema/com.sap.xsk.parser.hdbschema/src/main/java/com/sap/xsk/parser/hdbschema/custom/XSKHDBSCHEMASyntaxErrorListener.java
  modules/parsers/parser-hdbschema/com.sap.xsk.parser.hdbschema/src/main/java/com/sap/xsk/parser/hdbschema/models/XSKHDBSCHEMADefinitionModel.java
  modules/parsers/parser-hdbschema/com.sap.xsk.parser.hdbschema/src/test/java/XSKHDBSCHEMACoreListenerTest.java
  modules/parsers/parser-hdbschema/com.sap.xsk.parser.hdbschema/src/test/resources/sample.hdbschema
  modules/parsers/parser-hdbschema/com.sap.xsk.parser.hdbschema/src/test/resources/sample_with_errors.hdbschema
  modules/parsers/parser-hdbschema/pom.xml
  modules/parsers/parser-hdbsynonym/com.sap.xsk.parser.hdbsynonym/src/main/java/com/sap/xsk/parser/hdbsynonym/core/HdbsynonymBaseListener.java
  modules/parsers/parser-hdbsynonym/com.sap.xsk.parser.hdbsynonym/src/main/java/com/sap/xsk/parser/hdbsynonym/core/HdbsynonymBaseVisitor.java
  modules/parsers/parser-hdbsynonym/com.sap.xsk.parser.hdbsynonym/src/main/java/com/sap/xsk/parser/hdbsynonym/core/HdbsynonymLexer.java
  modules/parsers/parser-hdbsynonym/com.sap.xsk.parser.hdbsynonym/src/main/java/com/sap/xsk/parser/hdbsynonym/core/HdbsynonymListener.java
  modules/parsers/parser-hdbsynonym/com.sap.xsk.parser.hdbsynonym/src/main/java/com/sap/xsk/parser/hdbsynonym/core/HdbsynonymParser.java
  modules/parsers/parser-hdbsynonym/com.sap.xsk.parser.hdbsynonym/src/main/java/com/sap/xsk/parser/hdbsynonym/core/HdbsynonymVisitor.java
  modules/parsers/parser-hdbview/com.sap.xsk.parser.hdbview/src/main/java/com/sap/xsk/parser/hdbview/core/HdbviewLexer.java
  modules/parsers/parser-hdbview/com.sap.xsk.parser.hdbview/src/main/java/com/sap/xsk/parser/hdbview/core/HdbviewParser.java
  modules/parsers/parser-xsodata/com.sap.xsk.parser.xsodata/src/main/java/com/sap/xsk/parser/xsodata/core/HdbxsodataBaseListener.java
  modules/parsers/parser-xsodata/com.sap.xsk.parser.xsodata/src/main/java/com/sap/xsk/parser/xsodata/core/HdbxsodataBaseVisitor.java
  modules/parsers/parser-xsodata/com.sap.xsk.parser.xsodata/src/main/java/com/sap/xsk/parser/xsodata/core/HdbxsodataLexer.java
  modules/parsers/parser-xsodata/com.sap.xsk.parser.xsodata/src/main/java/com/sap/xsk/parser/xsodata/core/HdbxsodataListener.java
  modules/parsers/parser-xsodata/com.sap.xsk.parser.xsodata/src/main/java/com/sap/xsk/parser/xsodata/core/HdbxsodataParser.java
  modules/parsers/parser-xsodata/com.sap.xsk.parser.xsodata/src/main/java/com/sap/xsk/parser/xsodata/core/HdbxsodataVisitor.java
  modules/parsers/parser-xsodata/com.sap.xsk.parser.xsodata/src/test/java/XSKHDBXSODATACoreListenerTest.java
  modules/parsers/pom.xml
  pom.xml
  samples/demo-unified-runtimes.zip
  samples/hdb-simple.zip
  samples/hdb-view.zip
  samples/hdi-cube.zip
  samples/hdi-ext.zip
  samples/hdi-simple.zip
  samples/products.zip
  samples/xsjs-simple.zip
Labels: parsers

#327 Hdbsequence parser properties and default values
  modules/engines/engine-hdb/src/main/java/com/sap/xsk/hdb/ds/model/hdbsequence/XSKDataStructureHDBSequenceModel.java
  modules/engines/engine-hdb/src/test/java/com/sap/xsk/hdb/ds/test/parser/XSKHDBSequenceParserTest.java
  modules/engines/engine-hdb/src/test/resources/test/xsk/com/sap/DependsOnSequence.hdbsequence
  modules/engines/engine-hdb/src/test/resources/test/xsk/com/sap/SchemaOnlySequence.hdbsequence
  modules/parsers/parser-hdbsequence/pom.xml
  modules/parsers/parser-hdbsequence/src/main/antlr4/com/sap/xsk/parser/hdbsequence/core/Hdbsequence.g4
  modules/parsers/parser-hdbsequence/src/main/java/Hdbsequence.tokens
  modules/parsers/parser-hdbsequence/src/main/java/HdbsequenceLexer.tokens
  modules/parsers/parser-hdbsequence/src/main/java/com/sap/xsk/parser/hdbsequence/core/HdbsequenceBaseListener.java
  modules/parsers/parser-hdbsequence/src/main/java/com/sap/xsk/parser/hdbsequence/core/HdbsequenceBaseVisitor.java
  modules/parsers/parser-hdbsequence/src/main/java/com/sap/xsk/parser/hdbsequence/core/HdbsequenceLexer.java
  modules/parsers/parser-hdbsequence/src/main/java/com/sap/xsk/parser/hdbsequence/core/HdbsequenceListener.java
  modules/parsers/parser-hdbsequence/src/main/java/com/sap/xsk/parser/hdbsequence/core/HdbsequenceParser.java
  modules/parsers/parser-hdbsequence/src/main/java/com/sap/xsk/parser/hdbsequence/core/HdbsequenceVisitor.java
  modules/parsers/parser-hdbsequence/src/main/java/com/sap/xsk/parser/hdbsequence/custom/HdbsequenceVisitor.java
  modules/parsers/parser-hdbsequence/src/main/java/com/sap/xsk/parser/hdbsequence/custom/XSKHDBSEQUENCEModelAdapter.java
  modules/parsers/parser-hdbsequence/src/main/java/com/sap/xsk/parser/hdbsequence/models/XSKHDBSEQUENCEModel.java
  modules/parsers/parser-hdbsequence/src/main/java/com/sap/xsk/parser/hdbsequence/utils/HDBSequenceConstants.java
Labels: bug, customer, parsers

#331 Hdbti implement hdbtable and cdstable
  modules/parsers/parser-hdbti/src/main/antlr4/com/sap/xsk/parser/hdbti/core/Hdbti.g4
  modules/parsers/parser-hdbti/src/main/java/Hdbti.tokens
  modules/parsers/parser-hdbti/src/main/java/HdbtiLexer.tokens
  modules/parsers/parser-hdbti/src/main/java/com/sap/xsk/parser/Hdbti.tokens
  modules/parsers/parser-hdbti/src/main/java/com/sap/xsk/parser/HdbtiLexer.tokens
  modules/parsers/parser-hdbti/src/main/java/com/sap/xsk/parser/hdbti/core/HdbtiBaseListener.java
  modules/parsers/parser-hdbti/src/main/java/com/sap/xsk/parser/hdbti/core/HdbtiBaseVisitor.java
  modules/parsers/parser-hdbti/src/main/java/com/sap/xsk/parser/hdbti/core/HdbtiLexer.java
  modules/parsers/parser-hdbti/src/main/java/com/sap/xsk/parser/hdbti/core/HdbtiListener.java
  modules/parsers/parser-hdbti/src/main/java/com/sap/xsk/parser/hdbti/core/HdbtiParser.java
  modules/parsers/parser-hdbti/src/main/java/com/sap/xsk/parser/hdbti/core/HdbtiVisitor.java
Labels: bug, customer, parsers

#334 HDBTIParser now uses the error logger in XSKCommonUtils
  modules/engines/engine-hdbti/src/main/java/com/sap/xsk/hdbti/api/IXSKTableImportArtifactFactory.java
  modules/engines/engine-hdbti/src/main/java/com/sap/xsk/hdbti/api/IXSKTableImportParser.java
  modules/engines/engine-hdbti/src/main/java/com/sap/xsk/hdbti/service/XSKTableImportParser.java
  modules/engines/engine-hdbti/src/main/java/com/sap/xsk/hdbti/synchronizer/XSKTableImportSynchronizer.java
  modules/engines/engine-hdbti/src/main/java/com/sap/xsk/hdbti/transformer/XSKTableImportArtifactFactory.java
  modules/parsers/parser-hdbti/pom.xml
  modules/parsers/parser-hdbti/src/main/java/com/sap/xsk/parser/hdbti/custom/IXSKHDBTIParser.java
  modules/parsers/parser-hdbti/src/main/java/com/sap/xsk/parser/hdbti/custom/XSKHDBTIParser.java
  modules/parsers/parser-hdbti/src/main/java/com/sap/xsk/parser/hdbti/custom/XSKHDBTISyntaxErrorListener.java
  modules/parsers/parser-hdbti/src/test/java/com/sap/xsk/parser/hdbti/custom/XSKHDBTIParserTest.java
  modules/parsers/parser-hdbti/src/test/resources/lexerError.hdbti
  modules/parsers/parser-hdbti/src/test/resources/parserError.hdbti
Labels: customer, parsers
